[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do file:///home/ada/my_web_pages/ProjectOnlineShop/index.php
Type=Link
URL=file:///home/ada/my_web_pages/ProjectOnlineShop/index.php
Icon=application-x-php
